<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
    <entry key="BaseUrl">https://teletype.in/</entry>
    <entry key="Login">evsversc@mail.ru</entry>
    <entry key="Password">teletype_password</entry>
    <entry key="NickName">@evsversc</entry>
</properties>
